.card-shadow {
    border-radius: 5px !important;
    box-shadow: 0 0 2px rgba(44, 44, 44, 0.2); 
}

.card-shadow:hover {
    border-radius: 5px !important;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2); 
}

a { 
	text-decoration: none !important; 
}

img {
    cursor: pointer;
}

.sticky-top {
    top: 70px !important;
}

.filters-section {
    height: 580px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filters-section::-webkit-scrollbar {
    display: none;
}